$yellow:#FCD603;

#toolbarMenu {
    cursor: pointer;
    color:gray;
    width: 45px;
    margin-left: 8px;
    
}
#toolbarMenu:hover{
    color:$yellow;
}
#mainToolbar {
    flex: 1 1 auto;
   
}
mat-toolbar{
    background-color:$yellow !important;
    height: 120px;
}

mat-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    height: 55px;
}


mat-card-title{
    margin-left: 8px;
    font-size: 16px;
    margin-top: 8px;
}

mat-card-subtitle{
    margin-left: 8px;
   
}

mat-form-field-suffix {
    white-space: nowrap;
    flex: none;
    position: relative;
}

//.gral-container {
    //display: flex;
    //flex-direction: row;
//}
.position-maxicard{
    float: right;
    position: absolute;
    top: 10%;
    left: 30%;
}
.btn-container{
margin-left: 70%;
.btn-header{
    background-color: transparent;
    border: none;
   
}
.favorite{
    color:#2896F3;
}
.message{
    color:white;
}
.icons{
    color: rgb(104, 104, 104);
}
}
.info-title{
    margin-left: 25px;
}
.title-spacer{
    color:white;
}
.nav-item:hover{
color:$yellow;
}
.title-menu{
    margin-left: 18px;
}

.toolbar-icon {
    cursor: pointer;
    margin: 0 8px;
}
.icon-perfil{
    width: 45px;
}
.icon-menu{
    width: 35px;
}
.btn-group{
    margin-left: 60px;
}

#sidenav {
    width: 270px;
}

#sidenav.menu-close {
    width: 70px
}

#sidenav.menu-open {
    width: 270px
}

#sidenav .mat-list-item-content {
    padding: 0;
}

#sidenav .menu-item {
    width: 100%;
    border-radius: 0;
    text-align: left;
    //padding: 10px;
}

#sidenav .menu-item:hover {
  background: #eee;
}
#sidenav .menu-item mat-icon {
    margin-right: 20px;
    margin-left: 12px;
}

.btn-fabs{
    position: absolute;
   
    top: 10%;
    right: 1%;
}
