<div class="">
    <button  mat-fab aria-label="Example icon-button with a menu" >
        <mat-icon class="btn-plus">+</mat-icon>
    </button>
  </div>
  <div class=" ">
    <button mat-fab color="warn" aria-label="Example icon button with a home icon">
      <mat-icon class="btn-others">edit</mat-icon>
    </button>
  </div>

  <div class=" ">
    <button mat-mini-fab  aria-label="Example icon button with a plus one icon">
      <mat-icon class="btn-others">open_with</mat-icon>
    </button>
  </div>

  <div class=" ">
    <button mat-mini-fab  aria-label="Example icon button with a plus one icon">
      <mat-icon class="btn-others">restore</mat-icon>
    </button>
</div>

<div class=" ">
    <button mat-mini-fab  aria-label="Example icon button with a plus one icon">
      <mat-icon class="btn-others">settings</mat-icon>
    </button>
</div>

<div class=" ">
    <button mat-mini-fab  aria-label="Example icon button with a plus one icon">
      <mat-icon class="btn-others">stars</mat-icon>
    </button>
</div>