mat-expansion-panel{
    width: 18%;
    margin-bottom: 15px;
}
.container-acordion{
    margin-top: 10px;
    height: 580px;
    overflow: auto;
    padding: 10px 0 0 8px;

    .point{
        color:#5CAE5D;
        margin-left: 3%;
        font-weight: bold;
    }
}
