<mat-accordion class="container-acordion">
        <mat-expansion-panel (opened)="panelOpenState = true"
                            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    1añ. Inicial {{panelOpenState ? '' : ''}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>LOS LEÑADORES<span class="point">6/20</span></p>
            <p>LOS PASTORES<span class="point">6/20</span></p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                2añ. Inicial {{panelOpenState ? '' : ''}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>LOS LEÑADORES<span class="point">6/20</span></p>
            <p>LOS PASTORES<span class="point">6/20</span></p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                3añ. Inicial {{panelOpenState ? '' : ''}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>LOS LEÑADORES<span class="point">6/20</span></p>
            <p>LOS PASTORES<span class="point">6/20</span></p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                1añ. Primaria {{panelOpenState ? '' : ''}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>LOS LEÑADORES<span class="point">6/20</span></p>
            <p>LOS PASTORES<span class="point">6/20</span></p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                2añ. Primaria {{panelOpenState ? '' : ''}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>LOS LEÑADORES<span class="point">6/20</span></p>
            <p>LOS PASTORES<span class="point">6/20</span></p>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                3añ. Primaria {{panelOpenState ? '' : ''}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>LOS LEÑADORES<span class="point">6/20</span></p>
            <p>LOS PASTORES<span class="point">6/20</span></p>
        </mat-expansion-panel>
</mat-accordion>



  
