<section>
        <mat-list>
            <mat-card > 
                <div class="maxi-card-header">
                <div>
                    <img class="icon-perfil" src="https://user-images.githubusercontent.com/60799456/100695916-499f8480-3360-11eb-8f22-0ae275e0421b.png" alt="user">
                </div>
                <div>
                    <mat-card-title>Ellie</mat-card-title>
                    <mat-card-subtitle>Gonzalez Perez</mat-card-subtitle>
                </div >
                    <app-menu-component></app-menu-component>
                </div>
            
                <mat-card-content>
                    <h3>Detalles del Estudiante</h3>
                    <p>N° de Documento: 56789345</p>
                    <p>Sede PREMIUM COLLAGE SURCO</p>
                    <p>Grado: 1° Primaria</p>
                    <p>Estado de Pago
                        <button class="btn-pago">Al día</button>
                    </p>
                    <p>Matricular</p>
                    <p><mat-icon class="example-ripple-container mat-elevation-z4"
                        matRipple>add_circle_outline</mat-icon>
                        Matricular en aula</p>
                    <p>Los Leñadores</p>
                    <p>Año Lectivo</p>
                        <app-dialog></app-dialog>
                    
                    <p>Hermanos (as)</p>
                    <div>
                        <img class="icon-perfil-group" src="https://user-images.githubusercontent.com/60799456/100909196-693ac800-349a-11eb-93f9-a6c6bed0fe7c.png" alt="user">
                        <img class="icon-perfil-group" src=" https://user-images.githubusercontent.com/60799456/100909196-693ac800-349a-11eb-93f9-a6c6bed0fe7c.png" alt="user">
                        <img class="icon-perfil-group" src=" https://user-images.githubusercontent.com/60799456/100909196-693ac800-349a-11eb-93f9-a6c6bed0fe7c.png" alt="user">
                      </div>
                    <p>Familiares</p>
                    <div>
                        <img class="icon-perfil-group" src=" https://user-images.githubusercontent.com/60799456/100909196-693ac800-349a-11eb-93f9-a6c6bed0fe7c.png" alt="user">
                        <img class="icon-perfil-group" src=" https://user-images.githubusercontent.com/60799456/100909196-693ac800-349a-11eb-93f9-a6c6bed0fe7c.png" alt="user">
                        <img class="icon-perfil-group" src=" https://user-images.githubusercontent.com/60799456/100909196-693ac800-349a-11eb-93f9-a6c6bed0fe7c.png" alt="user">
                      </div>

                </mat-card-content>
            </mat-card>
        </mat-list>
</section>

<section class="tabs-section">
       <app-tabs></app-tabs>
</section>
    


