<section>
        <mat-list>
            <mat-card > 
                <div class="maxi-card-header">
                <div>
                    <img class="icon-perfil" src="https://user-images.githubusercontent.com/60799456/100695916-499f8480-3360-11eb-8f22-0ae275e0421b.png" alt="user">
                </div>
                <div>
                    <mat-card-title>Ellie</mat-card-title>
                    <mat-card-subtitle>Gonzalez Perez</mat-card-subtitle>
                </div>
                    <app-menu-component></app-menu-component>
                </div>
            
                <mat-card-content>
                    <h3>Detalles del Estudiante</h3>
                    <p>N° de Documento: 56789345</p>
                    <p>Sede PREMIUM COLLAGE SURCO</p>
                    <p>Grado: 1° Primaria</p>

                </mat-card-content>
            </mat-card>
        </mat-list>
</section>

<section class="tabs-section">
       <app-tabs></app-tabs>
</section>
    


