<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="btn-header favorite">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>people_outline</mat-icon>
      <span>Unir Familia</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>group_add</mat-icon>
      <span>Activar estudiante</span>
    </button>
    <button mat-menu-item>
      <mat-icon>person_outline</mat-icon>
      <span>Desactivar estudiante</span>
    </button>
    <button mat-menu-item>
      <mat-icon>view_agenda</mat-icon>
      <span>Declaracion padre</span>
    </button>
    <button mat-menu-item>
      <mat-icon>call_received</mat-icon>
      <span>Trasladar al estudiante</span>
    </button>
    <button mat-menu-item>
      <mat-icon>featured_play_list</mat-icon>
      <span>Solicitud de activacion</span>
    </button>
  </mat-menu>
